.footer {
  margin: 40px 0 0;
  padding: 48px 32px;
  text-align: center;
  font-size: 0.75rem;
  background-color: var(--ft-bg);
}
.footer p {
  font-size: 16px;
}
.footer div {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
}
