.container {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: auto;
}
@media (max-width: 600px) {
  .container {
    display: block;
  }
}

.navContainer {
  border-bottom: 1px solid var(--accents-2);
  margin-bottom: 32px;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar a {
  font-size: 1.2rem;
  margin: 0 32px 16px 0;
  cursor: pointer;
}
.container header {
  margin-bottom: 32px;
}

.container footer {
  margin-top: 32px;
}

.mainContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 600px) {
  .mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.subContent {
  width: 100%;
}
@media (max-width: 600px) {
  .subContent {
    width: 100%;
  }
}

.postContainer {
  padding: 16px 24px;
  background: var(--post-bg);
  border-radius: var(--radius);
  cursor: pointer;
}

.postContainer:hover {
  background: var(--hover-bg);
  opacity: 0.8;
  transition: 0.3s;
}
