.container {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
  gap: 32px;
}

@media (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }
}

.profileImage {
  border-radius: 9999px;
}

.blogContainer footer {
  margin-top: 32px;
}

.contentsContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.sidebarContent {
  padding: 16px;
}

.container > div {
  margin-bottom: 32px;
}
.container div:last-child {
  margin-bottom: 0;
}

.container h2 {
  margin: 0 0 14px;
  font-size: 1.4rem;
  font-weight: 400;
}

.container p {
  margin: 0.3rem auto;
  line-height: 2rem;
}

.profileContainer p {
  margin: 0;
}

/* TODO: 001 共通化したい  */
.postPageLink {
  color: var(--fg);
}
.postPageLink a {
  background-color: var(--post-bg);
  display: block;
  width: 20%;
  margin: 0 auto;
  border-radius: var(--radius);
  color: inherit;
  font-size: 0.85rem;
  text-align: center;
  line-height: 3rem;
}
.postPageLink a:hover {
  background: var(--hover-bg);
}
@media (max-width: 600px) {
  .postPageLink a {
    width: 50%;
  }
}
