.container {
  max-width: 100%;
}
.title {
  font-size: 28px;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sandboxContainer {
  padding: 24px 32px;
  background: var(--post-bg);
  border-radius: var(--radius);
  cursor: pointer;
}

.sandboxContainer:hover {
  background: var(--hover-bg);
  opacity: 0.8;
  transition: 0.3s;
}
