.container {
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainContainer {
  max-width: 760px;
  min-height: 70vh;
}

.sidebarContent {
  padding: 16px;
}
